<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <meta name="author" content="Jonathan Moreno">
    <meta name="github" content="JonathanMM03">
    <link rel="icon" type="image/svg+xml" th:href="@{/img/blog_icon.svg}">
    <!-- Importar sweetAlert2 -->
    <script rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Importar iziToast -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <!-- Importar Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
