<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" type="image/svg+xml" href="/img/blog_icon.svg">
    <meta name="author" content="Jonathan Moreno">
    <meta name="github" content="JonathanMM03">
    <!-- Importar sweetAlert2 -->
    <script rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Importar iziToast -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <!-- Importar Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Incluir el header -->
<div th:replace="components/header :: header"></div>

<!-- Main content -->
<main id="container">
    <!-- Contenido principal -->
</main>

<!-- Incluir el footer -->
<div th:replace="components/footer :: footer"></div>

<!-- Importar Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>