<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="author" content="Jonathan Moreno">
    <meta name="github" content="JonathanMM03">
    <link rel="icon" type="image/svg+xml" th:href="@{/img/blog_icon.svg}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}" >
</head>

<body>
<main class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fa-solid fa-code"></i></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form th:action="@{/login}" method="POST">
            <h1>Iniciar sesión</h1>
            <div class="mt-3 mb-5">
            <input type="text" placeholder="Email" name="email" required />
            <input type="password" placeholder="Contraseña" name="password" required />
            </div>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn" onclick="showRegisterMenu()">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Welcome!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp" onclick="showLoginMenu()">Sign Up</button>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>
        Created with <i class="fa fa-heart"></i> by
        <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
        - Read how I created this and how you can join the challenge
        <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
    </p>
</footer>
</body>
</html>